@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'variables';

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark) !important;
}
body {
    padding: 0 80px 10px;
}